$palette: (
        primary: (
                main: #006482,
        ),
        secondary: (
                main: #00455a,
        ),
        info: (
                main: #666,
        ),
        error: (
                main: #f44336,
        ),
        dark: (
                main: #424242,
        ),
        background: (
                default: hsla(216, 19%, 90%, 0.57),
        ),
        border: (
                default: #dbe2ea,
                box-shadow: #d4dfea,
        ),
);
